{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
    {% block loading %}
        <div id="loading">
            <img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493b3990ifzslqto2rmdrie00n1p7lgfjqklriwu4e8o&rid=200w.gif&ct=g" style="width:150px;height:150px;" />
        </div>
    {% endblock %}
    <div class="container" id="conteudo" style="display: none">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <div class="text">
                    <img src="../static/team/BrainTech.png" alt="">
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <img src="../static/team/BrainTech.png" alt="">
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <h2>MedDoctorIA</h2>
                    <div class="title">Login</div>
                    <form action="" method="POST">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="email" placeholder="Informe seu e-mail" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="Informe sua senha" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Entrar">
                            </div>
                            <div class="text sign-up-text">Não possui cadastro? <label for="flip">Cadastra-se</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <h2>MedDoctorIA</h2>
                    <div class="title">Cadastra-se</div>
                    <form action="" method="POST">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" name="username" placeholder="Informe seu nome" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="email" placeholder="Informe seu e-mail" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" name="password" placeholder="informe sua senha" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Cadastra">
                            </div>
                            <div class="text sign-up-text">Já possui cadastro? <label for="flip">Login</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
