{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    
    <section>
        <nav>
            <a href="" class="logo">MedDoctorIA</a>

            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#about">Empresa</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="/exames">Exames</a></li>
                <li><a href="/team">Equipe</a></li>
            </ul>
        </nav>

        <div class="text-container">
            <p>Detector de Tumor Cerebral</p>
            <p>Plataforma precisa para diagnostico de tumores e câncer</p>
            <button class="hire-btn">Conhecer</button>
        </div>

    </section>

    <div class="about-container" id="about">
        <img src="../static/team/BrainTech.png"
            alt="">
        <div class="about-text">
            <p>Empresa MedDoctorIA</p>
            <p>Empresa Especializada em Desenvovimento e Inteligência Artificial</p>
            <p>
                A MedDoctorIA estamos no foco na ramo da médicina, 
                no auxilio a profissionais da oncologia a diagnóstico preciso de tumores cerebrais. 
                Nesse diagnóstico os profissionais vão contar com o uso de um algoritmo de inteligência artificial para 
                predizer se seus pacientes estão com tumores ou não e se tiver, qual tipo de tumor. 
                Trabalhamos sempre buscando a excelência e a ética para atender o profissionais nessa área.
            </p>
            <button>Saber Mais</button>
        </div>
    </div>
    <div class="servicos" id="servicos">
        <div class="servicos-text">
            <p>Serviços</p>
            <p></p>
            <p>
                Nosso empresa esta,
            </p>
        </div>

        <div class="box-container">
            <div class="box-1">
                <span>1</span>
                <p class="heading">Diagnostico</p>
                <p>
                    Fazemos o uso de algoritmo de deep learning (Aprendizado profundo), 
                    para auxiliar profissionais na área a dar resultados precisos em exames 
                    de ressonância magnética (Tumor cerebral).
                </p>
                <button>Sabe Mais</button>
            </div>
            <div class="box-2">
                <span>2</span>
                <p class="heading">Desenvovimento</p>
                <p>
                    Aplicamos tecnologias inovadoras para ajudar e auxiliar sua empresa hospitalar.
                </p>
                <button>Sabe Mais</button>
            </div>
            <div class="box-3">
                <span>3</span>
                <p class="heading">Inteligência Artificial</p>
                <p>
                    Algoritmos capazes de propor soluções para seu problema.
                </p>
                <button>Sabe Mais</button>
            </div>
        </div>
    </div>

    <div class="ia">
        <p>Aréa da Inteligecia Artificial</p>
        <button>Saber Mais</button>
    </div>

    <footer>
        <p>Empresa MedDoctorIA</p>
        <p>
            Especializada em Desenvovimento e Inteligência Artificial
        </p>

        <div class="social-icon">
            <a href="#"><i class="far fa-user" style="color: #000;"></i></a>
            <a href="#"><i class="far fa-user" style="color: #000;"></i></a>
            <a href="#"><i class="far fa-user" style="color: #000;"></i></a>
        </div>
    </footer>
{% endblock %}