{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-image">
            <img src="../static/team/joaop.jpeg" alt="Profile image">
        </div>
        <p class="name">João Paulo</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github">
                <a href="https://github.com/joaopaulo-D">
                    <i class="fab fa-github"></i>
                </a>
            </button>
            <button class="twitter">
                <a href="https://www.linkedin.com/in/jo%C3%A3o-paulo-3796681ba/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/hudson.jpeg" alt="Profile image">
        </div>
        <p class="name">Hudson</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="pinterest"><i class="fab fa-instagram"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/joaog.jpeg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Borges</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="pinterest">
                <a href="https://www.instagram.com/joao_guilherme_b.de_azevedo/">
                    <i class="fab fa-instagram"></i>
                </a>
            </button>
            <button class="twitter">
                <a href="https://www.facebook.com/profile.php?id=100011190937421">
                    <i class="fab fa-facebook"></i>
                </a>
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Maria Luiza</p>
        <p>Redes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/mateus.jpeg" alt="Profile image">
        </div>
        <p class="name">Mateus Botelho</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github">
                <i class="fab fa-github"></i>
            </button>
            <button class="pinterest">
                <a href="https://www.instagram.com/m.a.t.e.u.s_w.e.l.k.l.i.s/">
                    <i class="fab fa-instagram"></i>
                </a>
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/abel.jpeg" alt="Profile image" style="width: 140px; height: 150px;">
        </div>
        <p class="name">Abel Sérvio</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Marques</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Sergio Sousa</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="pinterest"><i class="fab fa-instagram"></i></button>
        </div>
    </div>
{% endblock %}