{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-image">
            <img src="../static/team/joaop.jpeg" alt="Profile image">
        </div>
        <p class="name">João Paulo</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-linkedin"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../static/team/hudson.jpeg" alt="Profile image">
        </div>
        <p class="name">Hudson</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="pinterest"><i class="fab fa-instagram"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Borges</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Maria Luiza</p>
        <p>Redes</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Mateus</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Abel Sérvio</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">João Guilherme Marques</p>
        <p>Infraestrutura</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="twitter"><i class="fab fa-twitter"></i></button>
        </div>
    </div>

    <div class="card">
        <div class="card-image">
            <img src="./images/profile3.jpg" alt="Profile image">
        </div>
        <p class="name">Sergio Sousa</p>
        <p>Desenvolvedor</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur delectus, mollitia tenetur libero quam
            recusandae alias in incidunt.</p>
        <div class="socials">
            <button class="github"><i class="fab fa-github"></i></button>
            <button class="pinterest"><i class="fab fa-instagram"></i></button>
        </div>
    </div>
{% endblock %}